# **Project Name**    - Food Waste Management

##### **Project Type**    - EDA
##### **Contribution**    - Individual
##### **Team Member 1 -**  Tanuj Jain

# **Project Summary -**

This project focuses on building a **Food Donation and Distribution Analysis System** using Python, SQL, and Streamlit. The system stores and manages data about food providers, receivers, donations, and claims. It enables trend analysis through SQL queries, such as identifying top food providers, most-claimed food items, city-wise donations, and claim completion rates. CRUD operations allow adding, updating, and deleting records for real-time management. The Streamlit app offers interactive filtering by location, provider, and food type, and facilitates direct contact with providers and receivers. Insights help optimize food distribution, reduce wastage, and highlight high-demand areas, ensuring efficient resource allocation.

# **GitHub Link -** [Click here to view the project on GitHub](https://github.com/TANUJ0751/Food-Wastage-Management)

# Deployed Project Link - [Click here to view the Deployed Project](https://tanujs-food-wastage-management.streamlit.app/)

# **Problem Statement**

Food wastage remains a critical global issue, with surplus food often discarded while many people struggle with hunger. Lack of a structured system for tracking donations, managing providers and receivers, and analyzing distribution trends creates inefficiencies in resource allocation. Manual processes lead to data loss, poor communication, and limited transparency, making it difficult to ensure timely and fair distribution. There is also no centralized platform for monitoring demand and supply patterns. This project addresses the problem by developing a database-driven solution with analytics and a user-friendly interface to streamline food donations, reduce wastage, and improve distribution efficiency.

#### Importing Libraries

In [1]:
import pandas as pd
import sqlite3
import os

#### Defining Data Folder

In [2]:
data_folder = "./data"  # folder containing CSVs
csv_files = {
    "providers": "providers_data.csv",
    "receivers": "receivers_data.csv",
    "food_listings": "food_listings_data.csv",
    "claims": "claims_data.csv"
}

#### Creating Database

In [3]:
db_name = "food_wastage.db"
conn = sqlite3.connect(db_name)
cursor = conn.cursor()
print(f"Connected to database: {db_name}")

Connected to database: food_wastage.db

#### Creating Tables in Dataset

In [4]:
for table_name, file_name in csv_files.items():
    file_path = os.path.join(data_folder, file_name)
    if os.path.exists(file_path):
        df = pd.read_csv(file_path)
        df.to_sql(table_name, conn, if_exists="replace", index=False)
        print(f" Table '{table_name}' created with {len(df)} rows.")
    else:
        print(f" File not found: {file_path}")

 Table 'providers' created with 1000 rows.
 Table 'receivers' created with 1000 rows.
 Table 'food_listings' created with 1000 rows.
 Table 'claims' created with 1000 rows.

#### Printing Available Tables in the Dataset

In [5]:
print("\nAvailable tables in database:")
tables = cursor.execute("SELECT name FROM sqlite_master WHERE type='table';").fetchall()
for t in tables:
    print("-", t[0])

Available tables in database:
- providers
- receivers
- food_listings
- claims

### Fetching Providers Table

In [6]:

sample_table = "providers"
print(f"\nSample data from {sample_table}:")
display(pd.read_sql(f"SELECT * FROM {sample_table} LIMIT 5;", conn))

Sample data from providers:

,Provider_ID,Name,Type,Address,City,Contact
0,1,Gonzales-Cochran,Supermarket,"74347 Christopher Extensions\nAndreamouth, OK ...",New Jessica,+1-600-220-0480
1,2,"Nielsen, Johnson and Fuller",Grocery Store,"91228 Hanson Stream\nWelchtown, OR 27136",East Sheena,+1-925-283-8901x6297
2,3,Miller-Black,Supermarket,"561 Martinez Point Suite 507\nGuzmanchester, W...",Lake Jesusview,001-517-295-2206
3,4,"Clark, Prince and Williams",Grocery Store,"467 Bell Trail Suite 409\nPort Jesus, IA 61188",Mendezmouth,556.944.8935x401
4,5,Coleman-Farley,Grocery Store,"078 Matthew Creek Apt. 319\nSaraborough, MA 53978",Valentineside,193.714.6577

### Fetching receivers Table

In [7]:
sample_table = "receivers"
print(f"\nSample data from {sample_table}:")
display(pd.read_sql(f"SELECT * FROM {sample_table} LIMIT 5;", conn))

Sample data from receivers:

   Receiver_ID          Name        Type               City           Contact
0            1  Donald Gomez     Shelter     Port Carlburgh     (955)922-5295
1            2  Laurie Ramos  Individual         Lewisburgh      761.042.1570
2            3  Ashley Mckee         NGO  South Randalltown  691-023-0094x856
3            4    Erika Rose         NGO   South Shaneville        8296491111
4            5   John Romero  Individual          Bakerport      067.491.0154

### Fetching Food Listings Table

In [8]:
sample_table = "food_listings"
print(f"\nSample data from {sample_table}:")
display(pd.read_sql(f"SELECT * FROM {sample_table} LIMIT 5;", conn))

Sample data from food_listings:

,Food_ID,Food_Name,Quantity,Expiry_Date,Provider_ID,Provider_Type,Location,Food_Type,Meal_Type
0,1,Bread,43,3/17/2025,110,Grocery Store,South Kellyville,Non-Vegetarian,Breakfast
1,2,Soup,22,3/24/2025,791,Grocery Store,West James,Non-Vegetarian,Dinner
2,3,Fruits,46,3/28/2025,478,Catering Service,Lake Regina,Vegan,Breakfast
3,4,Fruits,15,3/16/2025,930,Restaurant,Kellytown,Vegan,Lunch
4,5,Soup,14,3/19/2025,279,Restaurant,Garciaport,Vegan,Dinner

### Fetching Claims Table

In [9]:
sample_table = "claims"
print(f"\nSample data from {sample_table}:")
display(pd.read_sql(f"SELECT * FROM {sample_table} LIMIT 5;", conn))

Sample data from claims:

   Claim_ID  Food_ID  Receiver_ID     Status        Timestamp
0         1      164          908    Pending    3/5/2025 5:26
1         2      353          391  Cancelled  3/11/2025 10:24
2         3      626          492  Completed   3/21/2025 0:59
3         4       61          933  Cancelled    3/4/2025 9:08
4         5      345          229    Pending  3/14/2025 15:17

### Closing Connection

In [10]:
# Close connection
conn.close()
print("\n🎯 Database created successfully!")

🎯 Database created successfully!